{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="mb-3">Đăng nhập</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary w-100" type="submit">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
